/.idea/
/.vs/
/InFileSearcher.sln.DotSettings.user
/FindInFile/bin/
/FindInFile/obj/
/ICSharpCode.AvalonEdit/bin/
/ICSharpCode.AvalonEdit/obj/
/FindInFile/FindInFiles.csproj.user
/FindInFile.sln.DotSettings.user
/FindInFiles.sln.DotSettings.user
/PlugInBase/bin/
/PlugInBase/obj/